# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
generated_plugin_registrant.dart

# Environment & cache
pubspec.lock
.env
.env.*
*.log

# VS Code
.vscode/
.history/
.idea/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Android
.gradle/
local.properties
**/android/key.properties
**/android/app/release/
**/android/app/upload-keystore.jks
**/android/app/*.keystore
**/android/app/*.jks

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner.xcworkspace/
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
**/DerivedData/
*.xcuserstate
*.xcworkspace
*.xcuserdata/
*.moved-aside
*.xcuserdatad
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser

# Web
lib/generated_plugin_registrant.dart
web/.dart_tool/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Miscellaneous
*.lock
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db
*.orig
*.rej

# Firebase / Secrets
google-services.json
GoogleService-Info.plist
firebase_app_id_file.json

# Coverage
coverage/
